footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .67);
  padding: .5em;
  font-size: 16px;
  border-top: 1px solid rgba(0, 0, 0, .34);
}

#nav, #info {
  width: 50%;
  display: inline-block;
}

#info {
  text-align: right;
}

footer a {
  color: #fff;
}